// override template defaults
// footer
.mdl-mega-footer--middle-section {
  padding: 0 50px;
}
.mdl-mega-footer--drop-down-section {
  width: 50%;
}

// header
.mdl-layout__header-row>* {
  flex-shrink: 1;
}
.mdl-layout-title a {
  text-decoration: none;
  color: #fff;
}
.mdl-navigation__link {
  text-transform: capitalize;
}

// posts
.mdl-card__supporting-text {
  min-height: 154px;
}
.post-desc {
  font-size: 11px;
  text-transform: capitalize;
}
.post-section img {
  max-width: 90%;
  border: 1px solid $grey-color-light;
  margin-top: 2em;
}